{% extends "bookstore/base.html" %}
{% block title %}bookstore contact{% endblock %}

{% block content %}
    <h1>Contact us</h1>

    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
            {{ form.subject.errors }}
            {{ form.email.errors }}
            {{ form.message.errors }}
        </p>
    {% endif %}

    <form action="" method="post">{% csrf_token %}
        <div class="field">
            <label for="id_subject">Subject:</label>
            {{ form.subject }}
        </div>
        <div class="field">
            <label for="id_email">Your e-mail address:</label>
            {{ form.email }}
        </div>
        <div class="field">
            <label for="id_message">Message:</label>
            {{ form.message }}
        </div>
        <input type="submit" value="Submit">
    </form>
{% endblock %}
