{% extends "bookstore/base.html" %}

{% block title %}bookstore title{% endblock %}

{% block content %}
<p>Found {{ books|length }} Book{{books|pluralize}}</p><ul>
{% for book in books %}
<li>{{ book }}</li>
{% endfor %}
</ul>

<p>Found {{ authors|length }} Author{{authors|pluralize}}</p><ul>
{% for author in authors %}
<li>{{ author }}</li>
{% endfor %}
</ul>

<p>Found {{ publishers|length}} Publisher{{publishers|pluralize}}</p><ul>
{% for publisher in publishers %}
<li>{{ publisher }}</li>
{% endfor %}
</ul>
{% endblock %}
